# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
akkadian-teleport-request/dist
akkadian-teleport-request/tmp
akkadian-teleport-request/out-tsc
akkadian-teleport-request/bazel-out

# Node
akkadian-teleport-request/node_modules
akkadian-teleport-request/npm-debug.log
akkadian-teleport-request/yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
akkadian-teleport-request/.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
akkadian-teleport-request/.angular/cache
akkadian-teleport-request/.sass-cache/
akkadian-teleport-request/connect.lock
akkadian-teleport-request/coverage
akkadian-teleport-request/libpeerconnection.log
akkadian-teleport-request/testem.log
akkadian-teleport-request/typings

# System files
akkadian-teleport-request/.DS_Store
akkadian-teleport-request/Thumbs.db