@use "@angular/material" as mat;
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;1,400&display=swap');
@include mat.core();

$electric-yellow-palette: (
  50: #ffff8d,
  100: #ffeb3b,
  200: #fbc02d,
  300: #f9a825,
  400: #f57f17,
  500: #ffeb3b, // Default color for primary
  600: #fb8c00,
  700: #f57c00,
  800: #ef6c00,
  900: #e65100,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: rgba(black, 0.87),
    600: rgba(black, 0.87),
    700: white,
    800: white,
    900: white,
  ),
);

$green-palette: (
  50: #e8f5e9,
  100: #c8e6c9,
  200: #a5d6a7,
  300: #81c784,
  400: #66bb6a,
  500: #4caf50, // Default color for accent
  600: #43a047,
  700: #388e3c,
  800: #2e7d32,
  900: #1b5e20,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  ),
);

$accent-palette: $green-palette;
$primary-palette: $electric-yellow-palette;


$akkadian-primary: mat.define-palette($primary-palette, 500);
$akkadian-accent: mat.define-palette($accent-palette, 900, 100, 400);
$akkadian-warn: mat.define-palette(mat.$pink-palette);

$akkadian-dark: mat.define-dark-theme(
  (
    color: (
      primary: $akkadian-primary,
      accent: $akkadian-accent,
      warn: $akkadian-warn
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);  

@include mat.all-component-themes($akkadian-dark);

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  background: #303030;
}
