<mat-grid-list cols="2" rowHeight="95vh">
  <mat-grid-tile class="mat-color primary-background">    
  </mat-grid-tile>

  <mat-grid-tile class="mat-color">
    <div class="home-container">
      <button mat-flat-button color="primary" routerLink="/request">Submit Request</button>
      <button mat-flat-button color="primary" routerLink="/help">Help</button>
      <button mat-stroked-button color="primary" routerLink="/about">About Akkadian</button>
    </div>
  </mat-grid-tile>
</mat-grid-list>
