
<div class="request-list-container" >
    <div *ngIf="requestList.length > 0">

        <div style="margin: 7px;">
            <button color="primary" (click)="emptyRequestList()" mat-icon-button>
                <mat-icon>delete</mat-icon>
            </button>
        </div>

        <mat-spinner color="secondary" *ngIf="loading"></mat-spinner>

        <div *ngFor="let item of requestList">

            <mat-card style="margin: 7px;"  *ngIf="!loading" class="request-card-container">
                <mat-card-header>
                    
                </mat-card-header>
                <mat-card-content>
                    <mat-card-subtitle>{{"AK-ID : " | uppercase }} {{ item.akkadianId }}</mat-card-subtitle>
                    <mat-card-subtitle>{{"Passenger: " | uppercase }} {{ item.name }} {{ item.lastname }}</mat-card-subtitle>
                    <mat-divider></mat-divider>
                    <mat-card-subtitle>{{"Passport #: " | uppercase }} {{ item.passportNumber }}</mat-card-subtitle>
                    <mat-card-subtitle>{{"Origin : " | uppercase }} {{ item.planetOrigin }}</mat-card-subtitle>
                    <mat-divider></mat-divider>
                </mat-card-content>
                <mat-card-actions>
                    
                </mat-card-actions>
                <mat-card-footer>
                    <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
                </mat-card-footer>
            </mat-card>
        </div>
        
    </div>
</div>
