
.request-stepper-container{
  width: 70%;
  margin: 0 auto;
  
  .akkadian-form-block{
    padding-top: 1rem;
    margin-top: 0.5rem;
    display: flex;
    justify-content: left;

    .akkadian-form-field{
      padding: 0 1rem;
    }
  }
}
