<div class="request-grid-container">
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">

    <mat-grid-list cols="3" #grid>

      <mat-grid-tile>

        <div class="block-form-fields">

          <mat-form-field appearance="outline">
            <mat-label for="select1">Origin :</mat-label>
            <mat-select id="select1" formControlName="origin">
              <mat-option value="option1">Option 1</mat-option>
              <mat-option value="option2">Option 2</mat-option>
            </mat-select>
          </mat-form-field>
  
          <mat-form-field appearance="outline">
            <mat-label for="select1">Destination :</mat-label>
            <mat-select id="select1" formControlName="destination">
              <mat-option value="option1">Option 1</mat-option>
              <mat-option value="option2">Option 2</mat-option>
            </mat-select>
          </mat-form-field>
  
          <mat-form-field appearance="outline">
            <mat-label for="inputField1">Akkadian ID:</mat-label>
            <input matInput type="text" id="inputField1" formControlName="akkadianId">
          </mat-form-field>
        
          <mat-form-field appearance="outline">
            <mat-label for="inputField2">Gender :</mat-label>
            <input matInput type="text" id="inputField2" formControlName="gender">
          </mat-form-field>

        </div>

      </mat-grid-tile>
      
      <mat-grid-tile>

        <div class="block-form-fields">
  
          <mat-form-field appearance="outline">
            <mat-label for="select1">Race :</mat-label>
            <mat-select id="select1" formControlName="race">
              <mat-option value="option1">Option 1</mat-option>
              <mat-option value="option2">Option 2</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label for="inputField2">Birthday :</mat-label>
            <input matInput type="text" id="inputField2" formControlName="birthday">
          </mat-form-field>

        </div>

      </mat-grid-tile>

      <mat-grid-tile>

        <div class="block-form-fields">
  
          <mat-form-field appearance="outline">
            <mat-label for="inputField2">Birthday :</mat-label>
            <input matInput type="text" id="inputField2" formControlName="birthday">
          </mat-form-field>
        
          <mat-form-field appearance="outline">
            <mat-label for="inputField2">Birthday :</mat-label>
            <input matInput type="text" id="inputField2" formControlName="birthday">
          </mat-form-field>

          <button mat-raised-button type="submit">Submit</button>
        </div>

      </mat-grid-tile>

    </mat-grid-list>

  </form>

</div>
